// app global css in Sass form
.mypage{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    padding: 30px;
}
.mytx-tip{
    color: #96A0AB;
    font-size: 14px;
}
h1 {
  font-size: 39px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}